.pager_root
  .pager_numbering 12 из 3 493
  ul.pager_list
    li.pager_item.pager_nav
      a(href='#',class='pager_link') Назад
    li.pager_item.pager_navAngle
      a(href='#',class='pager_link') <
    li.pager_item
      a(href='#',class='pager_link') 1
    li.pager_item
      a(href='#',class='pager_link') 2
    li.pager_item
      a(href='#',class='pager_linkAktive') 3
    li.pager_item
      a(href='#',class='pager_link') 4
    li.pager_item
      a(href='#',class='pager_link') 5
    li.pager_item.pager_navAngle
      a(href='#',class='pager_link') >
    li.pager_item.pager_nav
      a(href='#',class='pager_link') Дальше
