.order_wrapper.blankForm
  //temporary

  .order_root
    .order_row
      .order_title Контактная информация
      .order_filling
        .order_contactsFill Контакты: формы в четыре строки
        button.btn.btn_primary Продолжить
      .order_result
        .order_contactsRes Контакты результат
    .order_row
      .order_title Способ доставки
      .order_filling
        .order_deliveryFill Выбор способа доставки
        button.btn.btn_primary Продолжить
      .order_result
        .order_deliveryRes Доставка результат
    .order_row
      .order_title Способ оплаты
      .order_filling
        .order_payFill Выбор способа оплаты
        button.btn.btn_primary Продолжить
      .order_result Оплата результат
        .order_payRes


