extends ../components/layout/basic

block root
  .shell_root
    .shell_container.shell_containerDark
      .shell_row
        .shell_col
          include ../components/nav/nav
    .shell_container
      .shell_row
        .shell_col
          include ../components/mainHeader/mainHeader
    .shell_container.shell_containerLight
      .shell_row
        .shell_col
          include ../components/productSearch/productSearch
      .shell_row
        .shell_col
          include ../components/breadcrumbs/breadcrumbs
    .shell_container.shell_rSide.shell_containerLight
      .shell_row
        .shell_col
          include ../components/overview/overview
        .shell_col_rSide
          include ../components/info/info
        .shell_col
          include ../components/selection/selection
        .shell_col
          include ../components/writeReview/writeReview
        .shell_col
          include ../components/pagination/pagination
  .shell_rootFooter
    .shell_container.shell_containerDark
      .shell_row
        .shell_col
          include ../components/footerInfo/footerInfo
      .shell_row
        .shell_col
          include ../components/footer/footer