.gag
  .ordering_root
    .ordering_product
      ul.ordering_List
        li.ordering_item
          .ordering_image
            img( src="../images/orderingAccessories.png").ordering_imageIcon
          .ordering_description
            .ordering_descriptionName Monteqrappa
            .ordering_descriptionClarification Запонки
          .ordering_value
            .ordering_valueCost 43 200 <span>q</span>
            .ordering_valueOldCost
        li.ordering_item
          .ordering_image
            .ordering_imageMark -20%
            img( src="../images/orderingClock.png").ordering_imageIcon
          .ordering_description
            .ordering_descriptionName Visconti
            .ordering_descriptionClarification Наручные часы
          .ordering_value
            .ordering_valueCost 180 045 <span>q</span>
            .ordering_valueOldCost 350 987 <span>q</span>
        li.ordering_item
          .ordering_image
            img( src="../images/orderingPen.png").ordering_imageIcon
          .ordering_description
            .ordering_descriptionName Сaran d’ache
            .ordering_descriptionClarification Перьевая ручка
          .ordering_value
            .ordering_valueCost 11 745 <span>q</span>
            .ordering_valueOldCost
    .ordering_statistics
      .ordering_statisticsSection
        .ordering_statisticsSectionName 3 товара
        .ordering_statisticsSectionMeaning 230 745 <span>q</span>
      .ordering_statisticsSection
        .ordering_statisticsSectionName Скидка
        .ordering_statisticsSectionMeaning 20%
      .ordering_statisticsSection
        .ordering_statisticsSectionName Доставка
        .ordering_statisticsSectionMeaning 300 <span>q</span>
    .ordering_payment
      .ordering_paymentName К оплате
      .ordering_paymentCost 215 745 <span>q</span>
    btn.btn.btn_primary Закончить оформление
