.sample_root
  .sample_section.sample_sectionDouble.sample_childrens
    .sample_contentChildren
      .sample_title ПОДБЕРИТЕ УКРАШЕНИЕ<br>ДЛЯ ВАШЕГО РЕБЁНКА
      .sample_description Огромное количество<br>детской бижутерии
      button.btn.btn_primary Перейти
      button.btn_arrow.btn_primary
  .sample_section.sample_gold
    .sample_contentGold
      .sample_titleGold ЛОВИ<br>МОМЕНТ!
      .sample_descriptionGold Золотые серьги<br>со скидкой
      button.btn.btn_secondary Перейти
      button.btn_arrow.btn_secondary
  .sample_section.sample_silver
    .sample_contentSilver
      .sample_title НЕ УПУСТИ<br>СВОЙ ШАНС!
      .sample_description Серебрянные кольца<br>по отличной цене
      button.btn.btn_primary  Смотреть
  .sample_section.sample_sectionDouble.sample_collection
    .sample_contentCollection
      .sample_title РАСПРОДАЖА МОДЕЛЕЙ<br>ПРОШЛОГО СЕЗОНА
      .sample_description колекция лето 2014
      button.btn.btn_primary  Перейти
