.info_root
  .info_costBox
    .info_costDescription Серьги+Кольцо+Кулон
    .info_cost 198 820
      span q
  .info_box
    .info_size
      .info_sizeTitle Размер кольца:
      .info_sizeBox
        a(href='#', class='info_sizeBoxLink') 19
        ul.info_sizeList
          li.info_sizeItem
            btn.info_sizeBtn 19
          li.info_sizeItem
            btn.info_sizeBtn.info_sizeBtnActive 19.5
          li.info_sizeItem
            btn.info_sizeBtn 20
          li.info_sizeItem
            btn.info_sizeBtn 20.5
          li.info_sizeItem
            btn.info_sizeBtn 21
    .info_change
      .info_changeTitle Цвет камня:
        span Голубой
      .info_changeBox
        btn.info_colorBtn.info_colorBlue.info_colorBtnActive
        btn.info_colorBtn.info_colorViolet
      //.info_changeBox
      //  btn.info_imageBtn.info_imageBtnActive
      //    img(src="../images/sel-watchHand.png").info_imageIcon
      //  btn.info_imageBtn
      //    img(src="../images/sel-watchHand.png").info_imageIcon
  .info_buttons.info_buttonsTop
    btn.btn.btn_primary Купить
    btn.btn.btn_green Купить в 1 клик
  .filterParam_root
    .filterParam_name
      a(href="#").filterParam_link Характеристики
    .filterParam_content
      ul.info_characteristicsList
        li.info_characteristicsItem
          .info_characteristicsContent Московский Ювелирный
            span Завод
          .info_characteristicsContent 679
            span Проба
          .info_characteristicsContent 52 гр.
            span Вес
  .filterParam_root
    .filterParam_name
      a(href="#").filterParam_link Информация
    .filterParam_content
      .info_filterDescription Информация Информация Информация Информация Информация Информация Информация Информация
  .filterParam_root
    .filterParam_name
      a(href="#").filterParam_link Описание
    .filterParam_content
      .info_filterDescription Описание
  .info_container
    .info_contentBox
      .info_contentTitle Поделиться в соц. сетях
      .contacts_icons.info_icons
        a(href='#').contacts_icon.vk
        a(href='#').contacts_icon.instagram
        a(href='#').contacts_icon.twitter
        a(href='#').contacts_icon.facebook
        a(href='#').contacts_icon.google
        a(href='#').contacts_icon.youtube
    .info_buttons
      btn.btn.btn_primary Купить
      btn.btn.btn_green Купить в 1 клик
