.reviews_root.blankForm
  .reviews_actionBtn
    .btn.btn_primary Написать отзыв
  .reviews_title Отзывы
    span.reviews_number 35
  .reviews_sorting
    .sorting_root
      .sorting_text Сортировать
      .sorting_type
        a(href="#").sorting_link
          span по дате
      .sorting_type
        a(href="#").sorting_link
          span по оценке

  .reviews_unit.reviews_unitTop
    .reviews_revData
      .reviews_username Фамилия Имя
      .reviews_otherData 13 августа, Москва и Московская область
      .reviews_ratingBar
        ul.reviews_marksLine
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark.reviews_markHidden
    .reviews_revItem
      .reviews_revItemTitle Достоинства
      .reviews_revItemValue.
        Надежность, наличие солнечной батарейки, удобный ремешок, многофункциональность, сапфировое стекло, ну и конечно дизайн
    .reviews_revItem
      .reviews_revItemTitle Недостатки
      .reviews_revItemValue.
        Отсутствие включаемой кнопкой подсветки. Для часов Casio (особенно серии G-Shock)
        это мягко говоря, странно
    .reviews_revItem
      .reviews_revItemTitle Комментарий
      .reviews_revItemValue.
        классная вещь, кол-во достоинств полностью перевешивают недостатки

  .reviews_unit
    .reviews_revData
      .reviews_username Фамилия Имя
      .reviews_otherData 13 августа, Москва и Московская область
      .reviews_ratingBar
        ul.reviews_marksLine
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark.reviews_markHidden
          li.reviews_mark.reviews_markHidden
          li.reviews_mark.reviews_markHidden
    .reviews_revItem
      .reviews_revItemTitle Достоинства
      .reviews_revItemValue.
        Надежность, наличие солнечной батарейки, удобный ремешок, многофункциональность, сапфировое стекло, ну и конечно дизайн
    .reviews_revItem
      .reviews_revItemTitle Недостатки
      .reviews_revItemValue.
        Отсутствие включаемой кнопкой подсветки. Для часов Casio (особенно серии G-Shock)
        это мягко говоря, странно
    .reviews_revItem
      .reviews_revItemTitle Комментарий
      .reviews_revItemValue.
        классная вещь, кол-во достоинств полностью перевешивают недостатки

  .reviews_unit
    .reviews_revData
      .reviews_username Фамилия Имя
      .reviews_otherData 13 августа, Москва и Московская область
      .reviews_ratingBar
        ul.reviews_marksLine
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark
          li.reviews_mark.reviews_markHidden
          li.reviews_mark.reviews_markHidden
    .reviews_revItem
      .reviews_revItemTitle Достоинства
      .reviews_revItemValue.
        Надежность, наличие солнечной батарейки, удобный ремешок, многофункциональность, сапфировое стекло, ну и конечно дизайн
    .reviews_revItem
      .reviews_revItemTitle Недостатки
      .reviews_revItemValue.
        Отсутствие включаемой кнопкой подсветки. Для часов Casio (особенно серии G-Shock)
        это мягко говоря, странно
    .reviews_revItem
      .reviews_revItemTitle Комментарий
      .reviews_revItemValue.
        классная вещь, кол-во достоинств полностью перевешивают недостатки
