.selection_root
    .selection_title Вам понравится
    .selection_instance
      ul.selection_list
        li.selection_item
          .selection_image
            img(src="../images/sel-watchHand.png").selection_imageIcon
          .selection_content
            .selection_contentCost 198 820 <span>q</span>
            .selection_contentName Наручные часы
        li.selection_item
          .selection_image
            img(src="../images/sel-fountainPen.png").selection_imageIcon
          .selection_content
            .selection_contentCost 53 300 <span>q</span>
            .selection_contentName Перьевая ручка
        li.selection_item
          .selection_image
            img(src="../images/sel-ballPointPen.png").selection_imageIcon
          .selection_content
            .selection_contentCost 140 260 <span>q</span>
            .selection_contentName Шариковая ручка
        li.selection_item
          .selection_image
            img(src="../images/sel-cufflinks.png").selection_imageIcon
          .selection_content
            .selection_contentCost 14 400 <span>q</span>
            .selection_contentName Запонки
    .selection_title Вы смотрели
    .selection_instance
      ul.selection_list
        li.selection_item
          .selection_image
            img(src="../images/sel-ballPointPen.png").selection_imageIcon
          .selection_content
            .selection_contentCost 140 260 <span>q</span>
            .selection_contentName Шариковая ручка
        li.selection_item
          .selection_image
            img(src="../images/sel-cufflinks.png").selection_imageIcon
          .selection_content
            .selection_contentCost 14 400 <span>q</span>
            .selection_contentName Запонки
        li.selection_item
          .selection_image
            img(src="../images/sel-fountainPen.png").selection_imageIcon
          .selection_content
            .selection_contentCost 53 300 <span>q</span>
            .selection_contentName Перьевая ручка
        li.selection_item
          .selection_image
            img(src="../images/sel-watchHand.png").selection_imageIcon
          .selection_content
            .selection_contentCost 198 820 <span>q</span>
            .selection_contentName Наручные часы
