doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Boje
    link(href="../css/main.css", rel="stylesheet")
body
  block root


















  script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  script(src="../js/libs/jquery.bxslider.js")
  script(src="../js/scripts.js")
