.mainHeader_root
  .mainHeader_container
    .mainHeader_sec1
      .headLogo_root
        a(href='#')
    .mainHeader_sec2
      .hotLine_root
        .hotLine_phoneIco
        .hotLine_phoneNum
          .hotLine_title Горячая линия
          .hotLine_value 8 800 345 95 95
    .mainHeader_sec3
      .headCart_root
          .headCart_item
            a(href='#')
              .headCart_num 3
          .headCart_sum
            a(href='#')
              .headCart_title На сумму
              .headCart_value 17 568
                span q <!-- знак рубля -->
  .headerAdd_root
    .headerAdd_sec1
      ul.headerAdd_nav
        li.headerAdd_navList
          a(href='#').headerAdd_link О компании
        li.headerAdd_navList
          a(href='#').headerAdd_link Доставка и оплата
    .headerAdd_sec2
      .headCart_item.headerAdd_headCartItem
        a(href='#')
          .headCart_num 3
