.overview_root
  .overview_top
    .overview_titleBox
      .overview_title Комплект <span>VISCONTI Elegance</span>
      .overview_description Перейти к
        a(href='#', class='overview_titleLink') товару
    .overview_topCostBox
      .overview_topCost 198 820
        span q
      .overview_topDescription Серьги+Кольцо+Кулон
    .overview_articleBox
      .overview_articleDescription Серьги+Кольцо+Кулон
      .overview_article Арикул: W101-00-01
  .overview_content
    .overview_col.overview_colSide
      .overview_colTitle Фото:
      .overview_colImgBox
        a(href='#', class='overview_colLink')
          img(src="../images/overview-col-img2.png").overview_colImg
      .overview_colImgBox
        a(href='#', class='overview_colLink')
          img(src="../images/overview-col-img2.png").overview_colImg
    .overview_imgBox
      img(src="../images/overview-col-img1.png").overview_img
    .overview_col
      .overview_colTitle Комплект:
      .overview_colImgBox
        a(href='#', class='overview_colLink')
          img(src="../images/overview-col-img2.png").overview_colImg
      .overview_colImgBox
        a(href='#', class='overview_colLink')
          img(src="../images/overview-col-img2.png").overview_colImg
      .overview_colImgBox
        a(href='#', class='overview_colLink')
          img(src="../images/overview-col-img2.png").overview_colImg
      .overview_colSearchBox
        a(href='#', class='overview_colSearchLink')
