.sidebar_root.blankForm.sidebar_rootMod

    .filterClose_root
      .filterClose_btn
        a(href="#")
    .sidebar_section
      .filterParam_root
        .filterParam_name
          a(href="#").filterParam_link Цена
        .filterParam_content
          .priceCh_root
            .formRange
              div(data-range)
            .priceCh_inputText
              input(type="text" id="prmin" name="" placeholder="1 500").inputText.priceCh_input
              =' ' + '-'
              input(type="text" id="prmax" name="" placeholder="75 000").inputText.priceCh_input


      .filterParam_root
        .filterParam_name
          a.filterParam_link Вставка
        .filterParam_content
          ul.checkbox_root
            li.checkbox_str
              input(id="vst1" type="checkbox" name value).checkbox_input
              label(for="vst1").checkbox_label Аметист
            li.checkbox_str
              input(id="vst2" type="checkbox" name value).checkbox_input
              label(for="vst2").checkbox_label Рубин
            li.checkbox_str
              input(id="vst3" type="checkbox" name value).checkbox_input
              label(for="vst3").checkbox_label Топаз
            li.checkbox_str
              input(id="vst4" type="checkbox" name value).checkbox_input
              label(for="vst4").checkbox_label Бриллиант
            li.checkbox_str
              input(id="vst5" type="checkbox" name value).checkbox_input
              label(for="vst5").checkbox_label Оникс
            li.checkbox_str
              input(id="vst6" type="checkbox" name value).checkbox_input
              label(for="vst6").checkbox_label Карбон
            li.checkbox_str
              input(id="vst7" type="checkbox" name value).checkbox_input
              label(for="vst7").checkbox_label Изумруд
            li.checkbox_str
              input(id="vst8" type="checkbox" name value).checkbox_input
              label(for="vst8").checkbox_label Черный бриллиант
            li.checkbox_str
              input(id="vst9" type="checkbox" name value).checkbox_input
              label(for="vst9").checkbox_label Фианит
            li.checkbox_str
              input(id="vst10" type="checkbox" name value).checkbox_input
              label(for="vst10").checkbox_label Кварц
            li.checkbox_str
              input(id="vst11" type="checkbox" name value).checkbox_input
              label(for="vst11").checkbox_label Алланит
            li.checkbox_str
              input(id="vst12" type="checkbox" name value).checkbox_input
              label(for="vst12").checkbox_label Гранат
            li.checkbox_str
              input(id="vst13" type="checkbox" name value).checkbox_input
              label(for="vst13").checkbox_label Перламутр
            li.checkbox_str
              input(id="vst14" type="checkbox" name value).checkbox_input
              label(for="vst14").checkbox_label Эмаль

      .filterParam_root
        .filterParam_name
          a.filterParam_link Бренд
        .filterParam_content
          ul.checkbox_root
            li.checkbox_str
              input(id="brn1" type="checkbox" name value).checkbox_input
              label(for="brn1").checkbox_label Соколов
            li.checkbox_str
              input(id="brn2" type="checkbox" name value).checkbox_input
              label(for="brn2").checkbox_label Аврора Голд
            li.checkbox_str
              input(id="brn3" type="checkbox" name value).checkbox_input
              label(for="brn3").checkbox_label Адамант
            li.checkbox_str
              input(id="brn4" type="checkbox" name value).checkbox_input
              label(for="brn4").checkbox_label Маском
            li.checkbox_str
              input(id="brn5" type="checkbox" name value).checkbox_input
              label(for="brn5").checkbox_label Серебрянные крылья
            li.checkbox_str
              input(id="brn6" type="checkbox" name value).checkbox_input
              label(for="brn6").checkbox_label Эстет
            li.checkbox_str
              input(id="brn7" type="checkbox" name value).checkbox_input
              label(for="brn7").checkbox_label Топаз
            li.checkbox_str
              input(id="brn8" type="checkbox" name value).checkbox_input
              label(for="brn8").checkbox_label Камея
            li.checkbox_str
              input(id="brn9" type="checkbox" name value).checkbox_input
              label(for="brn9").checkbox_label Атол
            li.checkbox_str
              input(id="brn10" type="checkbox" name value).checkbox_input
              label(for="brn10").checkbox_label Александра

      .filterParam_root
        .filterParam_name
          a.filterParam_link Тип Металла
        .filterParam_content
          ul.checkbox_root
            li.checkbox_str
              input(id="met1" type="checkbox" name value).checkbox_input
              label(for="met1").checkbox_label Белое золото
            li.checkbox_str
              input(id="met2" type="checkbox" name value).checkbox_input
              label(for="met2").checkbox_label Желтое золото
            li.checkbox_str
              input(id="met3" type="checkbox" name value).checkbox_input
              label(for="met3").checkbox_label Красное золото
            li.checkbox_str
              input(id="met4" type="checkbox" name value).checkbox_input
              label(for="met4").checkbox_label Желто/белое золото
            li.checkbox_str
              input(id="met5" type="checkbox" name value).checkbox_input
              label(for="met5").checkbox_label Красно/белое золото
            li.checkbox_str
              input(id="met6" type="checkbox" name value).checkbox_input
              label(for="met6").checkbox_label Серебро

      .filterParam_root
        .filterParam_name
          a.filterParam_link Проба
        .filterParam_content
          ul.checkbox_root
            li.checkbox_str
              input(id="prb1" type="checkbox" name value).checkbox_input
              label(for="prb1").checkbox_label 245
            li.checkbox_str
              input(id="prb2" type="checkbox" name value).checkbox_input
              label(for="prb2").checkbox_label 466
            li.checkbox_str
              input(id="prb2" type="checkbox" name value).checkbox_input
              label(for="prb2").checkbox_label 546
            li.checkbox_str
              input(id="prb2" type="checkbox" name value).checkbox_input
              label(for="prb2").checkbox_label 432
            li.checkbox_str
              input(id="prb2" type="checkbox" name value).checkbox_input
              label(for="prb2").checkbox_label 656

    .sidebar_section
      .filterControl_root
        .filterControl_prop
          a(href="#").btn.btn_default.filterControl_propKompl Комплект
          =' '
          a(href="#").btn.btn_danger.filterControl_propSpecial Акция
        .filterControl_result Найдено <b>3493</b> товаров
        .filterControl_reset
          a(href="#").btn.btn_default.filterControl_resetBtn Сбросить фильтры







