.features_root
  .options_titleBox Преимущества компании
  .features_options
    .features_displayDelivery
    .features_titleDelivery БЕСПЛАТНАЯ ДОСТАВКА
  .features_options
    .features_displayProtection
    .features_title ЗАЩИТА ПОТРЕБИТЕЛЯМИ
    .features_description безопастность,<br> товар сертифицирован, гарантии качества
  .features_options
    .features_displaySecurity
    .features_title НОЛЬ РИСКА
    .features_description возможность оплаты <br> при получении
  .features_options
    .features_displayExchange
    .features_title ОБМЕН <br> И СКУПКА
    .features_description ювелирных <br> изделий
