.footer
  .footer_copyrightBox
   .footer_copyright © BOJE 2015
   .footer_address Москва, <span>177005</span>, ул.Один два три, д. 54
  .footer_info
    a(href='#', class='footer_siteMap') Карта сайта
    a(href='#', class='footer_lang footer_lang__active') RU
    a(href='#', class='footer_lang') EN
