.productItem_root.productItem_adaptiveSmall
    a.productItem_link.productItem_linkCard(href="#")
        .productItem_picture
            img(src="../images/productItem/item01.png")
        .productItem_content
            .productItem_price
                | 53 300
                span q
            .productItem_description
                | Шариковая ручка