.productItem_root.productItem_adaptiveSmall
  .productItem_top
    .productItem_article W101-00-01
    .productItem_mark.productItem_markDiscount -20%
  a.productItem_link(href="#")
    .productItem_picture
      img(src="../images/productItem/item01.png")
    .productItem_content
      .productItem_title Visconti
      .productItem_description
        | Часы наручные
        br
        | Visconti Elegance
      .productItem_priceBox
        .productItem_price
          | 198 820
          span q
  .productItem_action
    button.btn.btn_default В корзину
