.productItem_root.productItem_bordered
  .productItem_top
    .productItem_article S250-85-35
  a.productItem_link(href="#")
    .productItem_picture
      img(src="../images/productItem/item01.png")
    .productItem_content
      .productItem_title MONTEQRAPPA
      .productItem_description
        | IDNRCLIS Запонки
        br
        | Nero Uno Monteqrappa
      .productItem_priceBox
        .productItem_price
          | 14 400
          span q
  .productItem_action
    button.btn.btn_default В корзину
