.footerInfo
  .infoList
    .infoList_group
      .infoList_list
        .infoList_title Акции
        ul.infoList_inner.stock
          li.infoList_innerList
            a.infoList_link Клуб Boje
          li.infoList_innerList
            a.infoList_link Подарочная карта
          li.infoList_innerList
            a.infoList_link Хиты продаж
      .infoList_list
        .infoList_title О компании
        ul.infoList_inner.about
          li.infoList_innerList
            a.infoList_link О Boje
          li.infoList_innerList
            a.infoList_link Сервис-центр
          li.infoList_innerList
            a.infoList_link Франчайзинг
          li.infoList_innerList
            a.infoList_link Новости
          li.infoList_innerList
            a.infoList_link Партнёрам
    .infoList_list
      .infoList_title Коллекции
      ul.infoList_inner.collection
        li.infoList_innerList
          a.infoList_link Для него
        li.infoList_innerList
          a.infoList_link Для Нее
        li.infoList_innerList
          a.infoList_link Детям
  .payment_root
    .payment_title способы оплаты
    .payment_icons
      .payment_icon.mastercard
      .payment_icon.visa
      .payment_icon.paypal
    .payment_description Вы можете оплатить покупки</br> наличными при получении,</br> либо выбрать
      a(href='#', class='payment_link') другой способ оплаты
  .payment_line
  .contacts_root
    .contacts_numbers
      p 8 (800) 597 65 05
      span
      p +7 (567) 658 65 32
    .contacts_description Москва, <span>177005</span>, ул.Один два три, д. 54
    .contacts_icons
      a(href='#').contacts_icon.vk
      a(href='#').contacts_icon.instagram
      a(href='#').contacts_icon.twitter
      a(href='#').contacts_icon.facebook
      a(href='#').contacts_icon.google
      a(href='#').contacts_icon.youtube
