.filterContainer
  .filterWrap
    h1 Выберите ваше украшение
    .filterBlock_root
      .select.filterBlock_select.blankForm
        select(name="decorations")
          option(value="all") Все украшения
          option(value="1") 1
          option(value="2") 2
      .select.filterBlock_select.blankForm
        select(name="materials")
          option(value="all") Все материалы
          option(value="1") 1
          option(value="2") 2
      .select.filterBlock_select.blankForm
        select(name="insert")
          option(value="all") Все вставки
          option(value="1") 1
          option(value="2") 2
      .select.filterBlock_select.blankForm
        select(name="prices")
          option(value="all") Все цены
          option(value="1") 1
          option(value="2") 2
      .filterBlock_submit
        button.btn.btn_primary Подобрать

