.nav_root
  .nav_container
    ul.navigation
      li.navigation_list.navigation_menu
        a(href='#', class='navigation_menuLink') Москва
        ul.navigation_inner
          li.navigation_innerList
            a(href='#', class='navigation_link') Первая ссылка
          li.navigation_innerList
            a(href='#', class='navigation_link') Вторая ссылка
      li.navigation_list
        a(href='#', class='nav_link') О компании
      li.navigation_list
        a(href='#', class='nav_link') Доставка и оплата
  .nav_userInfo
    .nav_userIcon
      img(src="../images/user.png")
    .nav_userName Здравствуй,
      a(href='#', class='nav_userLink') USER
    .nav_buttonBox Здравствуй, USER
      button.btn.btn_nav Регистрация
